{% extends "base.html" %}
    {% block content %}
    <h1 class="simple_text">MATH-LAB </h1>
    <p1 class="simple_text">- это навык Алисы, который поможет в решении простейших математических задач.<br></p1>
    <p1 class="simple_text">На данный момент навык может решать задачи по следующим темам:</p1>
    <dl class="simple_text">
        <dt>Геометрия:</dt>
            <ol class="simple_text">
                <li>Площадь треугольника</li>
                <li>Площадь выпуклого четырехугольника</li>
                <li>Площадь круга</li>
                <li>Вычисление внутреннего угла выпуклого n угольника</li>
            </ol>
        <dt>Алгебра:</dt>
            <ol class="simple_text">
                <li>Разложение на простые множители</li>
                <li>Вычисление иррациональных корней</li>
                <li>Сокращение дробей</li>
                <li>Решение линейных уравнений с целыми индексами</li>
                <li>Решение квадратных уравнений с целыми индексами</li>
                <li>Определение свойств линейной функции с целыми индексами</li>
                <li>Определение свойств квадратичной функции функции с целыми индексами</li>
                <li>Вычисление НОК и НОД</li>
            </ol>    
    </dl>
    {% endblock %}
</html>