{% extends "base.html" %}
    {% block content %}
    <h1 class="simple_text">Список функций</h1>
    <dl class="simple_text">
        <dt>Геометрия:</dt>
            <ol class="simple_text">
                <li>Площадь треугольника <br>
                    <p1 class="simple_text_small">
                    функция принимает 3 аргумента - стороны треугольника. Если треугольник с заданными сторонами существует, то <br></p1>
                    <p1 class="simple_text_small">функция вернёт значение его площади в виде числа.</p1>
                </li>
                <li>Площадь выпуклого четырехугольника</li>
                    <p1 class="simple_text_small">
                        функция принимает 4 аргумента - стороны выпуклого четырехугольника.<br></p1>
                        <p1 class="simple_text_small">функция вернёт значение его площади в виде числа.</p1>
                <li>Площадь круга</li>
                    <p1 class="simple_text_small">
                        функция принимает 1 аргумент - радиус круга.<br></p1>
                    <p1 class="simple_text_small">функция вернёт значение его площади в виде числа.</p1>
                <li>Вычисление внутреннего угла выпуклого n угольника</li>
                    <p1 class="simple_text_small">
                    функция принимает 1 аргумент - число сторон выпуклоно n уголника.<br></p1>
                    <p1 class="simple_text_small">функция вернёт значение внутреннего угла многоугольника в градусах.</p1>
            </ol>
        <dt>Алгебра:</dt>
            <ol class="simple_text">
                <li>Разложение на простые множители</li>
                    <p1 class="simple_text_small">
                    функция принимает 1 аргумент - число.<br></p1>
                    <p1 class="simple_text_small">функция вернёт список всех простых множителей и их степеней(если они существуют).</p1>
                <li>Вычисление иррациональных корней</li>
                    <p1 class="simple_text_small">
                    функция принимает 1 аргумент - число.<br></p1>
                    <p1 class="simple_text_small">функция вернёт иррациональное число.</p1>
                <li>Сокращение дробей</li>
                    <p1 class="simple_text_small">
                    функция принимает 2 аргумент - числитель и знаменатель.<br></p1>
                    <p1 class="simple_text_small">функция вернёт иррациональное число.</p1>
                <li>Решение линейных уравнений с целыми индексами</li>
                <li>Решение квадратных уравнений с целыми индексами</li>
                <li>Определение свойств линейной функции с целыми индексами</li>
                <li>Определение свойств квадратичной функции функции с целыми индексами</li>
                <li>Вычисление НОК и НОД</li>
            </ol>    
    </dl>
    {% endblock %}
</html>